<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>dsothersalsobought</name>
	<displayName><![CDATA[DS: Customers also buy]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[This module display a product list in the product page with products with also bought with current product]]></description>
	<author><![CDATA[Dark-Side.pro]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>0</need_instance>
</module>
